<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("partials/header.ejs") %> 
</head>
<body>
    <div> <%- include("./partials/heading.ejs") %> </div>
</br>
</br>
</br>
    <div>
        <h1>Hey <%= formData.username %> </h1>
            </br> 
        <ul>You ate: <%= formData.foodName %>  </ul>
        
        <!-- display food items -->
    </div>
</br>
    <div>
        <div class="d-flex flex-row col-container">
            <div class="d-flex flex-row col-container">
                <form action="/views/foodform" method="GET">
                    <button class="btn btn-warning" type="submit">Add Food</button>
                </form>
            </br></br>
                <form action="/views/home.ejs" method="GET">
                    <button class="btn btn-warning" type="submit">Logout</button>
                </form>
            </div>
        </div>
        <!-- event listener? -->
    </div>

</body>
    <div> <%- include("./partials/footer.ejs") %> </div>

<!-- <script> console.log('does this work - food items')
console.log(new Date());

const foodObject = 
[{   username: "name1", 
    date: new Date(), 
    mealCategory: "lunch", 
    foodName: "apple", 
    beverage: "water"
},
{   username: "name1", 
    date: new Date(), 
    mealCategory: "lunch", 
    foodName: "orange", 
    beverage: "water"
},
{   username: "name1", 
    date: new Date(), 
    mealCategory: "snack", 
    foodName: "banana", 
    beverage: "juice"
}]
</script> -->
</html>