<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("./partials/header.ejs") %> 
</head>
<center><body>
    <div> <%- include("./partials/navbar.ejs") %> </div>
</br>
</br>
</br>
<div style="margin-top: 150px;">
    <h1>Hey <%= foodObject[0].userName %> </h1>
</br> 
    <% foodObject.forEach(food => { %>

        <% if (food.mealType === "breakfast") { %>
            <div>
                <h3> What you had for: <%= food.mealType %></h3>
                <p><%= food.foodName %></p>
                <p><%= food.beverage %></p>
            </div>
        <% } else if(food.mealType === "Lunch"){ %>
            <div>
                <h3> What you had for: <%= food.mealType %></h3>
                <p><%= food.foodName %></p>
                <p><%= food.beverage %></p>
            </div>
        <% } else { %>
            <div>
                <h3> What you had for: <%= food.mealType %></h3>
                <p><%= food.foodName %></p>
                <p><%= food.beverage %></p>
            </div>
        <% } %>
    <% }) %>
</div>
    <div>
        <br />

                <form action="/foodform" method="GET">
                    <button class="" type="submit" style="border-radius: 5px; align-self: center;">Add Food</button>
                </form>
                <br />

                <form action="/home" method="GET">
                    <button class="" type="submit" style="border-radius: 5px; align-self: center;">Logout</button>
                </form>
           
    </div>

</center></body>
    <div> <%- include("./partials/footer.ejs") %> </div>

</html>